option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: prod
    APP_URL: '{{resolve:ssm:/OS_YT/APP_EP:1}}'
    PORT: '{{resolve:ssm:/OS_YT/PORT:1}}'
    APP_ID: '{{resolve:ssm:/OS_YT/APP_ID:1}}'
    APP_KEY: '{{resolve:ssm:/OS_YT/APP_KEY:1}}'
    API_EP: '{{resolve:ssm:/OS_YT/API_EP:1}}'
    MALL_ID: '{{resolve:ssm:/OS_YT/MALL_ID:1}}'
    MALL_KEY: '{{resolve:ssm:/OS_YT/MALL_KEY:1}}'
    DB_HOST: '{{resolve:ssm:/OS_YT/DB_HOST:1}}'
    DB_USERNAME: '{{resolve:ssm:/OS_YT/DB_USER:1}}'
    DB_PASSWORD: '{{resolve:ssm:/OS_YT/DB_PASSWORD:1}}'
    DB_NAME: '{{resolve:ssm:/OS_YT/DB_NAME:1}}'
    S3_ID: '{{resolve:ssm:/OS_YT/S3_ID:2}}'
    S3_KEY: '{{resolve:ssm:/OS_YT/S3_KEY:2}}'
    S3_REGION: '{{resolve:ssm:/OS_YT/S3_REGION:1}}'
    
